



@{
	ViewData["Title"] = "Task List";
}


<div class="container mb-4 mt-5">
	<div class="row">
		<div class="col-6">
			<h2>Task List</h2>
		</div>
		<div class="col-6">
			<a class="btn btn-primary" asp-area="Employee" asp-controller="TaskList" asp-action="Add">Add Task</a>
		</div>
	</div>
</div>

<table id="taskListTable" class="table table-bordered table-striped">

	<thead>
		<tr>
			<th>Task Title</th>
			<th>Project</th>
			<th>Description</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>


</table>


@section scripts {

	<script src="/js/TaskList.js"></script>

}