@model Construction.Models.ViewModels.StockTypeVM


@{
	ViewData["Title"] = "Stock Type";
}

<form method="post">
	<div class="border p-4">
		<div class="row p-3 mb-3">
			<h2>Add Stock Type</h2>
			<hr />
		</div>
		<div class="row mb-3">
			<label asp-for="StockType.Name">Stock Type Name</label>
			<input asp-for="StockType.Name" class="form-control" />
			<span asp-validation-for="StockType.Name" class="text-danger"></span>
		</div>
		<div class="row mb-3">
			<label asp-for="StockType.StockUnit">Stock Type Unit</label>
			<select asp-for="StockType.StockUnit" asp-items="@Model.StockTypeUnits" class="form-control">
				<option selected disabled>
					--Select Unit--
				</option>
			</select>
			<span asp-validation-for="StockType.StockUnit" class="text-danger"></span>
		</div>

		<button class="btn btn-success" type="submit">Add</button>
		<a asp-area="Employee" asp-controller="StockType" asp-action="Index" class="btn btn-dark">Back To List</a>
	</div>
</form>


@section scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
